.advantages__subtitle-wrapper {
  background-color: @white;
}

.advantages__subtitle {
  .set-font-light();
  font-size: 24px;
  color: #283645;
  margin: 0;
  text-align: center;
}

.advantages {
  background-color: #f2f2f2;
}
