.contact-types {
  .reset-ul();
}

.contact-types__title {
  .set-font-bold();
  font-size: 18px;
  color: #283645;
  text-align: center;
}

.contact-types__content {
  .set-font-light();
  font-size: 24px;
  color: #d22856;
  text-align: center;
}
