.contact-types {
  .reset-ul();
  padding-top: 14px;
}


.contact-types__title {
  .set-font-bold();
  font-size: 18px;
  color: #283645;
  text-align: center;
  margin-bottom: 5px;
}

.contact-types__content {
  .set-font-light();
  font-size: 24px;
  color: #d22856;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 6px;
  line-height: 28px;
}

.contact-types__item:last-child {
  padding-bottom: 20px;
}
