.contacts {
  background-color: @white;
  padding-top: 40px;
  z-index: 100;
}

.contacts__subtitle {
  .set-font-light();
  font-size: 24px;
  color: #283645;
  margin: 0;
  text-align: center;
  line-height: 31px;
}


