.contacts {
  background-color: @white;
  padding-top: 40px;
  z-index: 100;
}

.contacts__subtitle {
  .set-font-light();
  font-size: 24px;
  color: #283645;
  margin: 0;
  text-align: center;
  line-height: 31px;
}

.contacts__content {
  margin: 0 auto;
  width: 320px;
}

.contacts__triangle {
  position: relative;
  width: 100%;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 33px;
    background: linear-gradient(to left bottom, @white 50%, transparent 50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 33px;
    background: linear-gradient(to right bottom, @white 50%, transparent 50%);
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 49px;
  }

  .contacts__subtitle {
    font-size: 40px;
    line-height: 45px;
  }

  .contact-types__item {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 7px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-top: 30px;
    justify-content: center;
  }

  .contacts__content {
    padding-bottom: 20px;
    width: 640px;
  }

  .contacts__triangle {
    &::before {
      height: 67px;
    }

    &::after {
      height: 67px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__subtitle {
    font-size: 50px;
    line-height: 59px;
  }

  .contacts {
    padding-top: 65px;
  }

  .contacts__list {
    padding: 0 40px;
    flex-wrap: nowrap;
  }

  .contacts__list .contact-types__item:first-child {
    order: 0;
  }

  .contacts__list .contact-types__item:nth-child(2) {
    order: 3;
  }

  .contacts__list .contact-types__item:last-child {
    order: 2;
  }

  .contacts__content {
    padding: 0;
    width: 100%;
    padding-bottom: 30px;
  }

  .contacts__triangle {
    &::before {
      height: 83px;
    }

    &::after {
      height: 83px;
    }
  }
}
