.form-header .page-header__title {
  padding-bottom: 54px;
  line-height: 29px;
  padding-top: 29px;
}

.form-header .page-header__back {
  background-image: none;

  &::after {
    content: none;
  }
}
