.form-header .page-header__title {
  padding-bottom: 54px;
  line-height: 29px;
  padding-top: 29px;
}

.form-header .page-header__back {
  background-image: none;

  &::after {
    content: none;
  }
}


@media (min-width: @tablet-width) {
  .form-header .page-header__title {
    padding-bottom: 81px;
    line-height: 59px;
    padding-top: 71px;
  }
}


@media (min-width: @desktop-width) {
  .form-header .page-header__title {
    width: 940px;
    padding: 0;
    padding-top: 63px;
    padding-bottom: 103px;
  }
}
