.functions-list {
  .reset-ul();
}

.functions-list__title {
  .set-font-bold();
  color: @black;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.functions-list__content {
  .set-font-normal();
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
  padding: 0 20px;
  margin-top: 12px;
  margin-bottom: 31px;
}
