.functions-list {
  .reset-ul();
  margin-bottom: 20px;
}

.functions-list__title {
  .set-font-bold();
  color: @black;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.functions-list__content {
  .set-font-normal();
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
  padding: 0 20px;
  margin-top: 12px;
  margin-bottom: 31px;
}

.function-list__br {
  display: none;
}

@media (min-width: @tablet-width) {
  .functions-list {
    margin-top: 78px;
  }

  .functions-list__title {
    text-align: left;
    padding-left: 20px;
  }

  .functions-list__content {
    text-align: left;
    margin-bottom: 35px;
    padding-right: 0;
  }

  .function-list__br {
    display: inline;
  }

}
