.functions-list {
  .reset-ul();
  margin-bottom: 20px;
}

.functions-list__title {
  .set-font-bold();
  color: @black;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.functions-list__content {
  .set-font-normal();
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
  padding: 0 20px;
  margin-top: 12px;
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .functions-list {
    margin-top: 76px;
  }

  .functions-list__title {
    text-align: left;
    padding-left: 20px;
  }

  .functions-list__content {
    text-align: left;
    margin-bottom: 35px;
    padding-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .functions-list__item {
    width: 310px;
    text-align: center;
  }

  .functions-list__item:first-child {
    margin-left: -5px;
  }

  .functions-list__item:last-child .functions-list__content {
    padding-right: 26px;
  }

  .functions-list__item:last-child .functions-list__title {
    padding-right: 33px;
  }

  .functions-list__content {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 0 35px;
  }

  .functions-list__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 24px;
    padding: 0 40px;
  }

  .functions-list {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
  }
}
