.main-nav--closed {
  .set-font-normal();
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 176px, 50% 0;
  background-color: #1d2631;
  background-size: auto, 100% auto;
}

.main-nav--opened,
.main-nav--nojs {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 61.5%, 50% 49%;
  background-color: #1d2631;
  background-size: auto, 100%;
}

.main-nav__list {
  .reset-ul();
  background-color: #283645;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__list,
.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
  margin-right: -7px;
}


.main-nav--closed .main-nav__toggle-icon--opened {
  display: none;
}

.main-nav--opened .main-nav__toggle-icon--closed {
  display: none;
}

.main-nav__top {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.main-nav--closed .main-nav__top {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav--opened .main-nav__top,
.main-nav--nojs .main-nav__top {
  background-color: #283645;
  padding-bottom: 2px;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 0 #000000;
}

.main-nav__logo {
  cursor: pointer;
}

.main-nav--nojs .main-nav__toggle-icon {
  display: none;
}

.main-nav__toggle svg {
  fill: @white;
}

@media (min-width: @tablet-width ) {
  .main-nav--closed {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 182px, 50% 0;
    background-color: #1d2631;
    background-size: auto, auto 100%;
  }


  .main-nav--opened,
  .main-nav--nojs {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%, 50% 100%;
    background-color: #1d2631;
    background-size: auto, auto 74%;
  }

  .main-nav__toggle-icon {
    padding-top: 10px;
  }

  .main-nav__toggle {
    cursor: pointer;
  }

  .main-nav__toggle svg {
    &:hover {
      fill: @color-hover;
    }

    &:active {
      fill: @color-active;
    }
  }


  .main-nav--opened .main-nav__top,
  .main-nav--nojs .main-nav__top {
    margin-bottom: 1px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav--opened .main-nav__wrapper,
  .main-nav--closed .main-nav__wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 130px;
  }

  .main-nav--closed .main-nav__list,
  .main-nav--opened .main-nav__list {
    display: flex;
    background-color: transparent;
  }

  .main-nav__toggle-icon {
    display: none;
  }

  .main-nav--closed .main-nav__top {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  .main-nav--opened .main-nav__top {
    background-color: transparent;
  }

  .main-nav__top {
    margin: 0;
    padding: 0;
  }

  .main-nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }

  .main-nav--closed,
  .main-nav--opened {
    background-image: none;
  }

  .main-nav {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 97% 209px, 50% 0;
    background-color: #1d2631;
    background-size: auto, auto 100%;
  }
}
