.main-nav {
  background-color: #283645;
}

.main-nav__list {
  .reset-ul();
}

.main-nav__toggle {
  font-size: 0;
  background-color: transparent;
  border: none;
}

.main-nav__toggle-icon path {
  &:hover {
    fill: @color-hover;
  }

  &:active {
    fill: @color-active;
  }
}
