.market {
  background-color: #1d2631;
}

.market__link {
  font-size: 18px;
  line-height: 18px;
  color: @white;
  border: 3px solid @white;
  border-radius: 20px;
}

.market__slogan {
  .set-font-light();
  font-size: 14px;
  line-height: 24px;
  color: @white;
  margin: 0;
}
