.page-header {
  .set-font-normal();
  background-image: url("../img/bg-back-mobile@1x.jpg");
}

.page-header__title {
  .set-font-light();
  color: @white;
  font-size: 24px;
  letter-spacing: normal;
  margin: 0;
  padding: 0;

}
