.page-header {
  .set-font-normal();
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__title {
  .set-font-light();
  color: @white;
  font-size: 24px;
  letter-spacing: normal;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  width: 280px;
  margin: 24px auto 0;
  padding-bottom: 200px;
}

.page-header__logo-image {
  margin-top: 22px;
  margin-bottom: 22px;
}
