.page-footer-index {
  display: none;
}

.page-footer__content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 40px;
}

.page-footer__logo-image {
  margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    background-color: @white;
    display: block;
  }

  .page-footer__content {
    flex-direction: row;
    padding: 28px 20px;
  }

  .page-footer__logo-image {
    margin-right: 75px;
    margin-top: 8px;
  }
}

@media (min-width: @desktop-width) {

  .page-footer__content {
    padding: 67px 130px;
  }

  .page-footer__logo-image {
    margin-right: 238px;
  }
}
