.photo-header .main-nav--opened {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 259px;
  background-color: #1d2631;
  background-size: 100%;
}

.photo-header .main-nav--closed {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #1d2631;
  background-size: 100%;
}

.photo-header .page-header__title {
  padding-top: 28px;
  padding-bottom: 79px;
}

@media (min-width: @tablet-width) {
  .photo-header .page-header__title {
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    padding-top: 71px;
    width: 565px;
    padding-bottom: 140px;
  }

  //.main-nav--opened .photo-header__title-wrapper {
  //  background-image: url(../img/bg-back-tablet@1x.jpg);
  //  background-position: -271px -111px;
  //  background-repeat: no-repeat;
  //  background-color: #1d2631;
  //  background-size: 182%;
  //}
  .photo-header .main-nav--closed {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 166%;
  }

  .photo-header .main-nav--opened {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 255px;
    background-size: auto 105%;
  }
}

@media (min-width: @desktop-width) {
  .photo-header .main-nav--closed,
  .photo-header .main-nav--opened {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 217%;
  }

  .photo-header .page-header__title {
    padding: 0 208px;
    padding-top: 65px;
    padding-bottom: 101px;
  }
}
