.photos__subtitle {
  .set-font-normal();
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin-top: 0;
  padding: 45px 35px 35px;
}

.photos__list {
  .reset-ul();
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
}

.photos {
  margin-bottom: 42px;
}


@media (min-width: @tablet-width) {
  .photos__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photos__subtitle {
    font-size: 18px;
    line-height: 30px;
    padding: 85px 50px 58px;
  }


}
