.price {
  z-index: 100;
  background-color: #f2f2f2;
}

.price__content {
  margin: 0 auto;
  width: 320px;
}

.price__table-wrapper {
  overflow: hidden;
}

.price__list {
  .reset-ul();
  margin: 0 auto;
}

.price__packet-title {
  background-color: #283645;
  position: relative;
  border: 2px solid #283645;
  border-right: 2px solid #e5e5e5;
  width: 276px;
}

.price__title .price__packet-title:last-child {
  border-right: 2px solid #283645;
}

.price__toggles {
  margin: 0;
  padding-bottom: 47px;
}

.price__toggles-wrapper {
  background-color: #f2f2f2;
  z-index: 100;
}

.price-slider__item {
  display: none;
}

.price-slider__item--current {
  display: block;
}

.price__features {
  background-color: @white;
  height: 61px;
}

.price__packet-title--hit {
  position: relative;

  &::before {
    content: "";
    width: 74px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
    position: absolute;
    top: -2px;
    left: -2px;
  }

  &::after {
    content: "ХИТ";
    color: @white;
    .set-font-normal();
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    top: 9px;
    left: 8px;
    transform: rotate(-45deg);
  }
}


@media (min-width: @tablet-width) {
  .price {
    margin-bottom: 28px;
  }

  .price__content {
    width: 660px;
  }


  .price-slider {
    display: flex;
  }

  .price-slider__item {
    display: block;
  }

  .price__features {
    height: 47px;
  }

  .price__table-wrapper {
    overflow: auto;
  }

  .price__packet-title {
    width: auto;
  }

  .price__toggles-wrapper {
    display: none;
  }

  .price__packet-title--hit {
    &::before {
      width: 61px;
      height: 61px;
      background-image: url("../img/bg-hit-tablet.svg");
      left: -0.5px;
    }

    &::after {
      top: 2px;
      left: 6px;
    }
  }
}

@media (min-width: @desktop-width) {
  .price__table-wrapper {
    padding: 0 130px;
    padding-top: 62px;
    padding-bottom: 67px;
  }

  .price__content {
    width: 1200px;
  }
  .price__packet-title--hit {
    &::before {
      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
      left: -0.5px;
    }

    &::after {
      top: 11px;
      left: 10px;
    }
  }
}
