.price {
  z-index: 100;
}

.price__table-wrapper {
  overflow: hidden;
}

.price__list {
  .reset-ul();
  margin: 0 auto;
}

.price__packet-title {
  background-color: #283645;
  position: relative;
  border: 2px solid #283645;
  border-right: 2px solid #e5e5e5;
}

.price__title .price__packet-title:last-child {
  border-right: 2px solid #283645;
}

.price__toggles {
  margin: 0;
  padding-bottom: 47px;
}

.price__toggles-wrapper {
  background-color: #f2f2f2;
  z-index: 100;
}

.price-slider__item {
  display: none;
}

.price-slider__item--current {
  display: block;
}

.price__features {
  background-color: @white;
  height: 61px;
}

.price__packet-title {
  width: 276px;
}


@media (min-width: @tablet-width) {
  .price {
    margin-bottom: 28px;
  }

  .price-slider {
    display: flex;
  }

  .price-slider__item {
    display: block;
  }

  .price__features {
    height: 47px;
  }

  .price__table-wrapper {
    overflow: auto;
  }

  .price__packet-title {
    width: auto;
  }

  .price__toggles-wrapper {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price__table-wrapper {
    padding: 0 130px;
    padding-top: 62px;
    padding-bottom: 67px;
  }
}
