.reviews {
  background-color: @white;
  margin-top: -43px;
  padding-top: 24px;
  margin-bottom: 90px;
  position: relative;
  z-index: 1;
}

.reviews::after {
  background: inherit;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-4deg);
  transform-origin: 100%;
  z-index: -1;
}

.review-slider {
  .reset-ul();
  padding: 0 20px;
  margin-bottom: 32px;
}

.review-slider__title {
  .set-font-bold();
  font-size: 18px;
  line-height: 30px;
  color: @black;
  text-align: center;
  margin-bottom: 13px;
}

.review-slider__content {
  .set-font-normal();
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  margin: 0;
}

.reviews__toggles {
  padding-bottom: 27px;
}

@media (min-width: @tablet-width) {
  .reviews {
    z-index: 30;
  }
}
