.social__item svg {
  fill: #d22856;
}

.social__item {
  margin-right: 13px;

}

.social__link {
  cursor: pointer;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: @tablet-width) {
  .social__item path {
    fill: #d22856;
  }

  .social__link {
    cursor: pointer;

    &:hover {
      border-color: #283645;
    }

    &:active {
      border-color: rgba(40, 54, 69, 0.3);
      opacity: 0.3;
    }

  }
}
