.user-photos__text {
  padding: 0 18px;
  background-color: #f2f2f2;
  margin: 0 20px;
  margin-top: -5px;
  padding-top: 19px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.user-photos__image {
  padding: 0 20px;
}

.user-photos__image--panorama {
  padding: 0;
}

.user-photos__nickname {
  .set-font-bold();
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin: 0;
  padding: 0;
}

.user-photos__visit-time {
  .set-font-light();
  font-size: 12px;
  line-height: 24px;
  margin-left: 3px;
}

.user-photos__desc {
  .set-font-normal();
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin-top: 0;
  overflow: hidden;
  max-height: 95px;
  margin-bottom: 9px;
}

.user-photos__like {
  .set-font-normal();
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.user-photos__like path {
  fill: #d22856;
}

.user-photos__like svg {
  margin-right: 18px;
}

.user-photos__count-like {
  margin-left: 3px;
}

.user-photos__item {
  margin-bottom: 20px;
}

.user-photos__slogan {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 0;
}


@media (min-width: @tablet-width) {
  .user-photos__image--panorama {
    height: 509px;
  }

  .user-photos__item {
    width: 300px;
    height: 455px;
    margin-right: 20px;
  }

  .user-photos .user-photos__item:first-child {
    width: 100%;
    height: auto;
    margin-bottom: 51px;
  }

  .user-photos__text {
    width: 264px;
    height: 116px;
    padding: 0 27px;
    padding-top: 22px;
  }

  .user-photos__text--panorama {
    width: 584px;
    height: 82px;
  }

  .user-photos__like {
    margin-top: auto;
  }
}
