HTML {
  background-repeat: no-repeat;
  background-position: 50% 0;
  /* По умолчанию мобильный макет */
  background-image: url("img/pink-form-mobile.jpg");
}
/* Планшет */
@media (min-width: 660px) {
  HTML {
    /* Планшетный макет */
    background-image: url("img/pink-form-tablet.jpg");

  }
}
/* Десктоп */
@media (min-width: 960px) {
  HTML {
    /* Десктопный макет */
    background-image: url("img/pink-form-desktop.jpg");
  }
}

BODY {
  opacity: 0.5;
}
